.chess-pieces > * {
	position: absolute;
	width: 100px;
	height: 100px;

	cursor: grab;
}

.chess-board {
	border: 1px outset #5a6881;

	position: relative;
	width: fit-content;
	margin: auto;
}

.row {
	display: flex;
}

.square {
	width: 100px;
	height: 100px;
}

.square.drag-over {
	background-color: red !important;
}

.square.white {
	background-color: #687388;
}

.square.black {
	background-color: #2c323f;
}

body {
	background-color: #192331;
}
